<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/hostel.css">
    <link rel="icon" href="../assets/dwight.ico" type="image/x-icon">
    
    <title>HOSTEL</title>
</head>
<header>    
</header>
<nav class="sticky-nav"></nav>
<section>
    <div class="imagen-slide">    
    </div>
    <section class="uno">
    </section>
    <section class="dos">
    </section>
    <div class="gallery">
        
    </div>
    
</section>    
<body>
</body>
</html>