<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/hostel.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="../assets/dwight.ico" type="image/x-icon">
    <link rel="stylesheet" href="../TRABAJOS/BOLETINES/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../TRABAJOS/BOLETINES/font-awesome/css/all.min.css">
    
    <title>HOSTEL</title>
</head>
<body>
    <header>
   <div class="header-1">
    <img src="img/logo.png">
   </div>
   <nav class="sticky-nav">
       <nav class="nav-aside">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">ROOMS</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">CONTACT US</a></li>
                <li><a href="">PAGES</a></li>
            </ul>
        </nav>
        </nav>
    </header>
    <section>
   <div class="slider">
    <h1>Slider</h1>
    </div>
    </section>
    <section class="section_span">
        <article class="box_icon">asdasd</article>
        <article class="box_icon">asdasdasd</article>
        <article class="box_icon">asdasdasd</article>
    </section>    
</body>
</html>