h1{
    text-align: center;
    font-size: 50px;
    color: white;}
#botones{
    width: 100%;
    background-color: firebrick;
    overflow: hidden;
    display: flex;

}
#item{
    margin: 1em;
    padding: 1em;
    float: left;
}
