<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/estilo.css">
    <title>Letterboxd</title>
</head>
<body>
    <header>
     <nav class="navbar-position">
         <h1>Letterboxd</h1>
     <ul>
            <li><a href="">LUCAS7</a></li>
            <li><a href="">ACTIVITY</a></li>
            <li><a href="">FILMS</a></li>
            <li><a href="">LISTS</a></li>
            <li><a href="">PEOPLE</a></li>
     </ul>     
     </nav>  
    </header>
   <div id="container">    
   </div>
</body>
</html>