<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="shortcut icon" href="assets/iava.ico" type="image/x-icon">
    <title>Club IAVA</title>

</head>

<body>
    <nav>

        <ul>
            <li><a href="http://club-iava.com.ar/Album.htm">ÁLBUM</a></li>
            <li><a href="http://club-iava.com.ar/Actividades.htm">ACTIVIDADES</a></li>
            <li><a href="http://club-iava.com.ar/Inicio.htm">INICIO</a></li>
            <li><a href="">SOCIOS</a></li>
            <li><a href="">CONTACTO</a></li>
            <li><a href="">FAMOSOS</a></li>
            <li><a href="">LIBRO DE VISITAS</a></li>
            <li><a href="">COMPETENCIAS</a></li>
            <li><a href="">AGENCIAS FIAT</a></li>
            <li><a href="">MANUALES</a></li>
            <li><a href="">MISCLEANEOS</a></li>
            <li><a href="">ROAD TEST</a></li>
            <li><a href="">PELICULAS</a></li>
        </ul>

    </nav>
    <div id="container">
        <img src="assets/img/foto_iavaclub.PNG" alt="" class="main_image">
        <h1>IAVA - SORPASSO - 128 - 133 - KIKITO - 125SE - DUNA SCX</h1>        
        
        <p>¿Siempre soñaste con escribir www.club-iava.com.ar en tu navegador e ingresar a tu mundo? </p>
        <p> Hoy es una realidad, porque el Club IAVA original se ha modernizado para brindar al fanático y entusiasta, su nuevo sitio oficial. 

            Conocé IAVA, de la mano de los que realmente saben de IAVA.
            
            15 años de trayectoria con un importante trabajo de investigación nos avalan. 
            
            <p>Un nuevo LIBRO DE VISITAS para que puedas dejar tu mensaje o bien intercambiar opiniones con otros socios y visitantes. </p>
            
            <p>¿Querés inscribirte?, ya se encuentra disponible nuestra ficha de inscripción en nuestra sección INSCRIPCIÓN.</p> 
            
            <p>¿Querés ver fotografías del último encuentro?, ingresá a nuestra sección ACTIVIDADES.</p>
            
            <p>PRÓXIMAMENTE MAS FOTOGRAFÍAS DE LOS ENCUENTROS.
            
            <p>Juntos, construimos este sitio web, que tiene por objetivo mantener intacto el fanatismo por la mítica marca que marcó el corazón de la historia de la industria automotriz argentina. 
            
            <p>NOVEDADES: desde la renovación de este sitio web, en tan sólo 4 meses hemos superado las 50.000 visitas. Nuestro agradecimiento para todos ustedes.</p>
    
    
    </div>
        
</body>
</html>