@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Lato', sans-serif;

    margin: 0;
}
#container{
    width: 50%;
    height: 1000px;
    margin: 25px auto;
    box-shadow: 0px 2px 11px -2px #000000;

}
/*-------------------*/
.foto{
    background-color: white;
    width: 32%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    float: left;
}
.foto img{
    width: 60%;
    height: 70%;
    margin: auto;
    border-radius: 8em;

}
/*-------------------*/
header{
 background-color: #F4F4F2;
 width: 68%;
 height: 25%;
 float: right;
}
.content-header{
    padding: 2em;
    margin-left: 10%;
}
.content-header ul{
    list-style: none;
    display: inline;
    text-align: center;
    
}
.content-header li{
    display: flex;
    justify-content: flex-start;}
}

header h1{
    font-size: 3em;
    margin-bottom: 1px
}
.color-h3{
    background: #BFB68F;
    width: 106.7%;
    height: 2em;}
header h3{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

/*-------------------*/
aside{
    display: flex;
    justify-content: flex-start;
    background-color: #F4F4F2;
    width: 32%;
    height: 73%;
    
}
/*-------------------*/
@media(max-width:1024px){
    #container{
    width: 80%;
 
}
    
}
    