<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo_temp.css">
    <link rel="icon" href="../assets/dwight.ico" type="image/x-icon">
    
    <title>Templates</title>
</head>
<body>
    <div id="container">
        <div class="repo">
    
         <h1>TEMPLATES</h1>
             <ul class="btn">
                 <li class="rep"><a href="CV/index.html">Hostel - Travel Multipage HTML5</a></li>
                 
            </ul>
        <img src="../img/michael.png" class="dwight">
            <button class="button"><a href="../index.html">Menú</a></button>

        
    </div>
    </div>
</body>
</html>