*{
    background-color: grey;
    font-family: sans-serif;
}
#valor{
    font-size: 90px;
}
.container{
    margin: 25px auto;
    width: 20%;
}
#valor, h1, .button-container{
    display: flex;
    justify-content: center;
}
#valor{
    font-size: 100px;
}
h1{
    font-size: 40px;
}
button{    
    margin: 10px;
    padding: 1em 10px;
    font-size: 25px;
    background-color: ivory;
    text-transform: capitalize;
}