body{
background-color: #5f5f5f;
}
#container{
    padding: 0;
    margin: 30px auto;
    width: 800px;
    height: 80px;
    

}
p{  color: white;
    text-align: center;
    }
.repo{
    background-color: #181818;
    box-shadow: 0px 0px 23px 0px #000;
}
h1{ 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    padding-top: 1em;

}
.btn{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-align: center;
    padding: 1em;
 }
 .rep{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }
 .rep a {
    padding: 2px 7px 2px 7px;
    color: black;
    background-color: #e4e4e4;
    border: 1px solid #424242;
    text-decoration: none;
 }
 .rep a:hover{
    background-color: #333333;
    color: #ffffff;
 }
 .dwight{
    width: 80%;
    height: auto;
    display:block;
    margin: auto ;
    padding-bottom: 1em;
}

.dwight:hover{
   opacity: 50%;}
/*---------------------------*/
h2{ margin-left: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*list es el ul y lista es el il*/
.list{   
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
}
.lista{
    margin: 0 5em 0 4em;
    color: white;
}

.button{
    background-color: #000;
    color: white;
    padding: 1em;
    text-align: center;
    margin: 25px 25px 25px 25px;
    font-size: 20px;
}


/*---------------------------*/

@media(max-width:450px){
   body{
background-color: blue;
}
    #container{
    padding: 0;
    margin: 30px auto;
    width: 80%;
    height: 100%;
    }
    .repo li{
    text-align: center;
    margin: 10 10px 10 10;
 }
 .repo li a {
    padding: 2px 7px 2px 7px;
    color: black;
    background-color: #e4e4e4;
    border: 1px solid #424242;
    text-decoration: none;
    
 }
    
}