@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: Noto Sans JP;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F7FC;}
main{
    display: flex;
    justify-content: center;
    margin: 15%;
    text-align: center;
}
p{
    padding: 10px;
    margin: 0px 10px 0px 10px;} 
.review{
    margin: 25px auto;
    width: 70%;
    min-width: 20%;
    background-color: white;
    padding: 1em;
    border-radius: 6px;
}
.title{
    padding: 1em;
    letter-spacing: 5px;
}
img{
    display: block;
    margin: auto;
    max-width: 200px;
}
button{
    height: 50px;
    background-color: transparent;
}
.next-btn, .prev-btn{
    width: 40px;
}